@charset "utf-8";
/*
 * Page name
 * Copyright 2023
 * Author
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set some tools style
 */

/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  box-sizing: border-box;
  position: relative;
}
html,
body {
  font-family: "Noto Sans TC", serif, "微軟正黑體", arial;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* color: #000000; */
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #000000; */
}

/* -------------------------- *\
	Layout
\* -------------------------- */
/* grid system */
@media screen and (min-width: 1450px) {
  .container {
    max-width: 1400px;
  }
}

/* -------------------------- *\
	Component
\* -------------------------- */
html {
  background-image: url("../images/bg/bg01.png");
  background-repeat: repeat;
  background-size: 50%;
  /* height: 100%; */
}
/* jumbotron */ /* jumbotron */ /* jumbotron */
.jumbotron {
  animation: showUP 1s;
}
@keyframes showUP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.self_item {
  margin-top: 80px;
}
/* .self_item .img_card {
  margin-right: -80px;
} */
.self_item .img_container {
  width: 100%;
  /* border: 1px solid black; */
}
.self_item .img_container:before {
  /* border: 1px solid rgb(238, 134, 134); */
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.self_item .img_container .image {
  background-image: url(../images/common/photo02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* perspective: 300px; */
  transform-style: preserve-3d;
}
.self_item .img_container .circle {
  width: 600px;
  height: 600px;
  border: 1px solid rgb(255, 248, 206);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  /* transform: rotateX(40deg); */
  animation: spin 5s linear infinite;
}
.self_item .img_container .ball {
  width: 20px;
  height: 20px;
  background: rgb(212, 172, 119);
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 590px;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;

  animation: anti-spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateX(40deg) rotateZ(-30deg) scaleY(0.5) rotateZ(0deg);
  }
  100% {
    transform: rotateX(40deg) rotateZ(-30deg) scaleY(0.5) rotateZ(360deg);
  }
}
@keyframes anti-spin {
  0% {
    transform: rotateZ(0deg) scaleY(2) rotateZ(30deg) scale(1);
  }
  100% {
    transform: rotateZ(-360deg) scaleY(2) rotateZ(30deg) scale(1);
  }
}
.self_item .contact_info {
  margin-top: -60px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 200;
}
.self_item .email {
  margin-bottom: 6px;
}
.nav_item {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.self_item .hi {
  color: #838383;
  letter-spacing: 4px;
}
.nav_item .link a {
  /* border: 1px solid black; */
  margin-right: 20px;
  color: #838383;
  transition: all 0.3s;
}
.nav_item .link a:hover {
  color: #eb913e;
}
.self_item .info {
  /* border: 1px solid black; */
  padding: 220px 0;
  margin-left: -100px;
}
.self_item .info .name {
  font-size: 58px;
  color: #eb913e;
}
.self_item .info .job {
  font-size: 58px;
  color: #ffffff;
}
.scroll_container {
  /* border: 1px solid black; */
  height: 150px;
}
.scroll_container p {
  text-align: center;
  color: #838383;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.scroll_container .circle {
  margin: 0 auto;
  width: 8px;
  height: 8px;
  background-color: #838383;
  border-radius: 50%;
  animation: scroll 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .self_item .info {
    margin-left: -25px;
  }
  .self_item .info .name {
    font-size: 52px;
  }
  .self_item .info .job {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .self_item .img_container .circle {
    width: 300px;
    height: 300px;
  }
  .self_item .img_container .ball {
    width: 10px;
    height: 10px;
    left: 295px;
  }
  .self_item .info {
    padding: 65px 0;
    margin-left: -60px;
  }
  .self_item .info .name {
    font-size: 42px;
  }
  .self_item .info .job {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .self_item .info {
    margin-left: 0px;
  }
  .self_item .info {
    font-size: 14px;
  }
  .self_item .info .name {
    font-size: 34px;
  }
  .self_item .info .job {
    font-size: 26px;
  }
  .nav_item .link a {
    margin: 0 10px;
  }
}
/* about */ /* about */ /* about */

.about .about_card {
  width: 1000px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 120px auto;
  padding: 0px 80px;
  border: 1px solid white;
  /* background-color: #000000; */
  border-radius: 15px;
  /* transform: rotate(-5deg); */
}
.about .title {
  font-size: 84px;
  font-weight: 900;
  color: #efefef;
  position: absolute;
  top: -60px;
  left: 150px;
  z-index: 500;
}
.about .about_card .para {
  font-size: 16px;
  line-height: 24px;
  color: white;
}
@media screen and (max-width: 1440px) {
  .about .title {
    left: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .about .about_card {
    width: 860px;
  }
}
@media screen and (max-width: 768px) {
  .about .title {
    font-size: 64px;
    top: -50px;
  }
  .about .about_card {
    width: 650px;
    padding: 0 40px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 425px) {
  .about .title {
    font-size: 48px;
    top: -40px;
  }
  .about .about_card {
    width: 330px;
    padding: 0px 20px;
    height: 200px;
  }
}
/* Experience */ /* Experience */ /* Experience */
.Exp .title {
  font-size: 84px;
  font-weight: 900;
  color: #efefef;
  position: absolute;
  top: -60px;
  right: 150px;
  z-index: 500;
}
.Exp .exp_card {
  width: 1000px;
  /* height: 450px; */
  margin: 150px 0;
  margin-left: 100px;
  padding: 0 20px;
  /* background-color: #f8f8f8; */
  border: 1px solid white;
  border-radius: 15px;
}
.exp_card .exp_info {
  padding: 50px 0;
}
.exp_card .logo_img {
  /* border: 1px solid black; */
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.exp_card .logo_img.dyna {
  width: 110px;
  height: 147px;
}
.exp_card .logo_img.bg {
  width: 287px;
  height: 58px;
}
.exp_info .info {
  /* padding-right: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.exp_info .item {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.exp_info .info .job_title {
  margin-top: 4px;
}
.exp_info .info .job_content {
  margin-top: 20px;
}
.exp_card .line {
  /* border: 1px solid black; */
  display: block;
  width: 1px;
  height: 60px;
  background-color: #979797;
  margin: -30px auto;
  margin-bottom: -15px;
}
@media screen and (max-width: 1440px) {
  .Exp .title {
    right: -35px;
  }
}
@media screen and (max-width: 1024px) {
  .Exp .title {
    right: 10px;
  }
  .Exp .exp_card {
    width: 850px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .Exp .title {
    right: -10px;
    font-size: 64px;
    top: -50px;
  }
  .Exp .exp_card {
    width: 640px;
    margin-left: 30px;
    padding-right: 0px;
  }
  .exp_card .logo_img.dyna {
    width: calc(114px * 0.7);
    height: calc(147px * 0.7);
  }
  .exp_card .logo_img.bg {
    width: calc(287px * 0.7);
    height: calc(58px * 0.7);
  }
  .exp_info .info {
    padding-right: 0;
    padding-left: 20px;
  }
}
@media screen and (max-width: 425px) {
  .Exp .title {
    right: 5px;
    font-size: 48px;
    top: -40px;
  }
  .Exp .exp_card {
    width: 330px;
    padding: 0 10px;
    margin-left: 10px;
  }
  .exp_card .exp_info {
    padding: 40px 0;
    font-size: 14px;
  }
  .exp_info .info {
    padding-right: 15px;
    margin-top: 20px;
  }
}
/* Skill */ /* Skill */ /* Skill */
.skill .title {
  font-size: 84px;
  font-weight: 900;
  color: #efefef;
  position: absolute;
  top: -60px;
  left: 250px;
  z-index: 500;
}
.skill .skill_card {
  width: 950px;
  /* height: 200px; */
  padding: 30px 50px;
  margin: 150px 0;
  margin-left: 300px;
}
.skill .skill_card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  border-radius: 15px;
  /* background-color: #f8f8f8; */
  border: 1px solid white;
}
.skill_card .skill_item {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  color: white;
}
.skill_card .skill_item .pts {
  /* border: 1px solid black; */
  display: flex;
  padding-right: 60px;
}
.skill_card .skill_item .fill_circle,
.skill_card .skill_item .boder_circle {
  /* border: 1px solid black; */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
}
.skill_card .skill_item .fill_circle {
  background-color: #eb913e;
}
.skill_card .skill_item .boder_circle {
  /* background-color: #f6e7d8; */
  border: 1px solid #eb913e;
}
@media screen and (max-width: 1024px) {
  .skill .title {
    left: 35px;
  }
  .skill .skill_card {
    width: 960px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .skill .title {
    left: 85px;
    font-size: 64px;
    top: -50px;
  }
  .skill .skill_card {
    width: 610px;
    margin-left: 110px;
  }
  .skill .skill_card:before {
    width: 70%;
  }
  .skill_card .skill_item {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 425px) {
  .skill .title {
    font-size: 48px;
    top: -40px;
    left: 24px;
  }
  .skill .skill_card {
    width: 330px;
    margin-left: 10px;
    padding: 20px 20px;
    font-size: 14px;
  }
  .skill_card .skill_item .pts {
    padding-right: 0px;
  }
  .skill_card .skill_item .fill_circle,
  .skill_card .skill_item .boder_circle {
    margin-left: 10px;
  }
  .skill .skill_card:before {
    width: 80%;
  }
  .skill_card .skill_item {
    margin-top: 15px;
  }
}
/* Portfolio */ /* Portfolio */ /* Portfolio */
.portfolio .title {
  font-size: 84px;
  font-weight: 900;
  color: #efefef;
  position: absolute;
  top: -70px;
  right: 350px;
  z-index: 500;
}
.portfolio .portfolio_card {
  width: 1200px;
  /* height: 450px; */
  margin: 150px 0;
  margin-left: 300px;
  /* background-color: #f8f8f8; */
  border: 1px solid white;
  border-radius: 15px;
}
.portfolio .portfolio_card .subtitle {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 128px;
  text-shadow: 1px 1px 8px rgb(255, 255, 255), -1px -1px 8px rgb(255, 255, 255),
    1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
  opacity: 0.5;
  /* color: #ffffff; */
}
.portfolio .portfolio_card .subtitle.vfx {
  top: 600px;
}
.portfolio .portfolio_card .info {
  padding: 0 50px;
  padding-top: 50px;
}
.portfolio_card .img_container {
  /* border: 1px solid black; */
  width: 100%;
}
.portfolio_card .img_container:before {
  /* border: 1px solid rgb(238, 134, 134); */
  content: "";
  display: block;
  width: 100%;
  padding-top: 75%;
}
.portfolio_card .img_container .image {
  background-image: url(../images/common/demo01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio_card .btn_demo {
  border: 1px solid #949494;
  /* background-color: rgba(255, 255, 255, 0.6); */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.portfolio_card .btn_demo:hover {
  --transUp: calc(-50% - 1px);
  transform: translateY(var(--transUp));
  box-shadow: 0 7px 14px #ffffff1a, 0 3px 6px rgba(255, 255, 255, 0.08);
  border: 1px solid #eb913e;
}
.portfolio_card .btn_demo:active {
  transform: translateY(-50%);
}
.portfolio_card .btn_demo:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 0 0 white;
}
.portfolio_card .btn_demo:hover:after {
  box-shadow: 0 0 80px 10px white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0.5s;
}
.portfolio_card .btn_demo p {
  /* border: 1px solid rgb(0, 0, 0); */
  text-align: center;
  margin: 5px;
  font-size: 24px;
  color: #949494;
  font-weight: 200;
  letter-spacing: 4px;
}
.portfolio_card .btn_demo:hover p {
  color: #eb913e;
}
.portfolio_card .video_container {
  /* border: 1px solid black; */
  width: 100%;
}
.portfolio_card .video_container:before {
  /* border: 1px solid rgb(238, 134, 134); */
  content: "";
  display: block;
  width: 100%;
  padding-top: 75%;
}
.portfolio_card .video_container .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid #fff; */
  border-radius: 15px;
}
@media screen and (max-width: 1440px) {
  .portfolio .title {
    right: 50px;
  }
  .portfolio .portfolio_card {
    margin-left: 75px;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio .title {
    right: 25px;
  }
  .portfolio .portfolio_card {
    width: 900px;
    margin-left: 55px;
  }
  .portfolio .portfolio_card .subtitle {
    font-size: 100px;
  }
  .portfolio .portfolio_card .subtitle.vfx {
    top: 450px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio .title {
    right: 15px;
    font-size: 64px;
    top: -50px;
  }
  .portfolio .portfolio_card {
    width: 650px;
  }
  .portfolio .portfolio_card .subtitle {
    font-size: 64px;
  }
  .portfolio .portfolio_card .subtitle.vfx {
    top: 325px;
  }
}
@media screen and (max-width: 425px) {
  .portfolio .title {
    right: 20px;
    font-size: 48px;
    top: -40px;
  }
  .portfolio .portfolio_card {
    width: 330px;
    margin-left: 20px;
  }
  .portfolio_card .btn_demo {
    width: 70px;
    height: 70px;
    margin-left: -20px;
  }
  .portfolio .portfolio_card .info {
    padding: 0 0px;
    padding-top: 25px;
  }
  .portfolio_card .btn_demo p {
    font-size: 14px;
    margin: 1px;
    letter-spacing: 1px;
  }
  .portfolio .portfolio_card .subtitle {
    font-size: 32px;
  }
  .portfolio .portfolio_card .subtitle.vfx {
    top: 185px;
  }
}
/* contact */ /* contact */ /* contact */
.contact .title {
  font-size: 84px;
  font-weight: 900;
  color: #efefef;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}
.contact .contact_card {
  width: 500px;
  margin: 200px auto;
  /* background-color: #f8f8f8; */
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px 0;
}
.contact .contact_card p {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  line-height: 36px;
  color: #eb913e;
  text-shadow: 0 0 0.5em #0ae642, 0 0 0.2em #5c5c5c;
}
@media screen and (max-width: 768px) {
  .contact .title {
    font-size: 64px;
    top: -50px;
  }
}
@media screen and (max-width: 425px) {
  .contact .title {
    font-size: 48px;
    top: -40px;
  }
  .contact .contact_card {
    width: 310px;
    padding: 15px 0;
  }
  .contact .contact_card p {
    font-size: 20px;
    line-height: 32px;
  }
}
